#card-button {
    -fx-background-color: transparent;
    -fx-background-radius: 10;  /* Angoli arrotondati */
    -fx-padding: 0;  /* Rimuove il padding */
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0.0, 0, 5);
    -fx-transition: transform 0.2s, -fx-background-color 0.2s, -fx-border-color 0.2s;
}
/* Effetto hover */
#card-button:hover {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 3;
    -fx-border-radius: 5px;
    -fx-border-width: 2;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
/* Effetto click */
#card-button:pressed {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.8);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
#deck{
    -fx-background-image: url("images/MazzoCentrale.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
#card-image {
    -fx-background-radius: 15;  /* Angoli arrotondati */
    -fx-background-size: cover;  /* Assicura che l'immagine copra l'intero bottone */
    -fx-background-color: transparent;
}
#currentCardView {
    -fx-background-color: transparent;
    -fx-padding: 10 20 10 20; /* Padding around the text */
    -fx-alignment: CENTER; /* Center the text */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 2); /* Drop shadow effect */
    -fx-cursor: hand; /* Hand cursor on hover */
}
#userHandView{
   -fx-background-color: transparent;
   -fx-border-radius: 10; /* Padding around the text */
   -fx-alignment: CENTER; /* Center the text */
   -fx-border-color: #333333;
   -fx-border-width: 3;
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 2); /* Drop shadow effect */
   -fx-cursor: hand; /* Hand cursor on hover */
}

#rulePaneOne,#rulePaneTwo{
    -fx-background-image: url("images/PARQUET.png");
}
#select_pane,#insert_name_single,#insert_name_couple{
    -fx-background-image: url("images/GameMode.png");
}
#gamePaneSingle,#gamePaneCouple,#gamePaneDuel{
    -fx-background-image: url("images/PARQUET.png");
}
/* Stile base per tutti i pulsanti */
#startButton,#backButton,#uno,#pass,#unoBot,#passBot,#ruleButtonTwo{
    -fx-background-color: rgba(255, 255, 255, 0.64);
    -fx-border-right: 20;
    -fx-text-fill: #000000;
    -fx-font-size: 22px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Comic Sans MS";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 10, 10);
}
#pass{
    -fx-background-color: rgba(255, 255, 255, 0.72);
    -fx-border-right: 20;
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Comic Sans MS";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 10, 10);
}
#uno{
    -fx-background-color: rgba(255, 0, 0, 0.72);
    -fx-border-right: 20;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 200px, 200px, 200px, 200px;
    -fx-background-radius: 200px;
    -fx-font-family: "Comic Sans MS";
    -fx-border-color: rgba(255, 255, 255, 0.84);
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(174, 3, 3, 0.3), 2, 0, 3, 3);
}
#start_button_single_mode,#start_button_duel_mode,#ruleButton,#ruleButtonTwo{
    -fx-background-color: rgba(255, 255, 255, 0.64);
    -fx-text-alignment: center;
    -fx-border-right: 20;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-padding: 5px 15px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Comic Sans MS";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 10, 10);
}
#start_button_single_mode:hover{
    -fx-background-color: rgba(175, 175, 175, 0.64);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 10, 10);
}
#start_button_duel_mode:hover{
    -fx-background-color: rgba(175, 175, 175, 0.64);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 10, 10);
}
#ruleButton:hover{
    -fx-background-color: rgba(175, 175, 175, 0.64);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 10, 10);
}
#backButton:hover{
    -fx-background-color: rgba(175, 175, 175, 0.64);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 10, 10);
}
#startButton:hover{
    -fx-background-color: rgba(175, 175, 175, 0.64);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 10, 10);
}
#uno:hover{
    -fx-background-color: rgba(189, 0, 0, 0.64);
}
#pass:hover{
    -fx-background-color: rgba(175, 175, 175, 0.64);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 10, 10);
}
#ruleButtonTwo:hover{
    -fx-background-color: rgba(175, 175, 175, 0.64);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 10, 10);
}

#select_label,#label_insert_single{
    -fx-text-fill: #ffffff;
    -fx-font-size: 50px;
    -fx-background-color: rgba(255, 255, 255, 0.21);
    -fx-background-radius: 40px;
    -fx-font-family: "Comic Sans MS";
}
#name_label{
    -fx-text-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS";
}
#ruleTitle{
    -fx-text-fill: #ffffff;
    -fx-font-size: 50px;
    -fx-background-color: rgba(255, 255, 255, 0.21);
    -fx-background-radius: 40px;
    -fx-font-family: "Comic Sans MS";
    -fx-padding: 10px;
}
#imageRuleOne{
    -fx-background-image: url("images/Image_rule.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
#imageRuleTwo{
    -fx-background-image: url("images/MazzoCentrale.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
#imageRuleThree{
    -fx-background-image: url("images/allcard.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}
#ruleLabel1,#ruleLabel2,#ruleLabel3{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS";
}
#Name_user,#Name_user1,#Name_user_duel{
    -fx-text-fill: #ffffff;
    -fx-font-size: 28px;
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: rgba(255, 255, 255, 0.21);
    -fx-background-radius: 20px;
}
#Name_user2,#Name_user21,#Name_user_duel2{
    -fx-text-fill: #ffffff;
    -fx-font-size: 28px;
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: rgba(255, 255, 255, 0.21);
    -fx-background-radius: 20px;
    -fx-rotate: 180;
}
#userHandView{
    -fx-border-radius: 10px;
    -fx-border-color: f0f0f0
}
#left_bot,#right_bot,#top_bot{
    -fx-background-image: url("images/back.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}