#card-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 15;
    -fx-background-radius: 15;  /* Angoli arrotondati */
    -fx-padding: 0;  /* Rimuove il padding */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0.0, 0, 5);
    -fx-transition: transform 0.2s, -fx-background-color 0.2s, -fx-border-color 0.2s;
}

/* Effetto hover */
#card-button:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #ff0000;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

    /*-fx-transform: translateY(-10px);  Sposta il bottone verso l'alto di 10px */
}

/* Effetto click */
#card-button:pressed {
    -fx-background-color: #cccccc;
    -fx-border-color: #ff0000;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


#card-image {
    -fx-background-radius: 15;  /* Angoli arrotondati */
    -fx-background-size: cover;  /* Assicura che l'immagine copra l'intero bottone */
}


#currentCardView {
    -fx-background-color: linear-gradient(#ffefba, #ffffff); /* Gradient background */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-radius: 10; /* Rounded border corners */
    -fx-border-color: #d1d1d1; /* Border color */
    -fx-border-width: 2; /* Border width */
    -fx-padding: 10 20 10 20; /* Padding around the text */
    -fx-font-size: 14px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-text-fill: #333333; /* Text color */
    -fx-alignment: CENTER; /* Center the text */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 2); /* Drop shadow effect */
    -fx-cursor: hand; /* Hand cursor on hover */
}

