# Compiled class file
*.class
.env

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.idea
*Maven*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


# Maven specific
/target/
!.mvn/wrapper/maven-wrapper.jar  # Mantieni il wrapper Maven per eseguire il build
*.iml
*.ipr
*.iws



# File di build generati
bin/
build/

# File di configurazione di IDE
.idea/

# File di log e di cache
*.cache

# File specifici del sistema operativo
.DS_Store
Thumbs.db